{
  "extends": "airbnb-base",
  "env": {
    "node": true
  },
  "rules": {
    "import/extensions": [1],
    "no-console": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ]
  }
}