<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <title>AWS Image Serice</title>
</head>

<body>
  <main class="container">
    <h1>AWS Image Service</h1>
    <section>
      <h2>Image Download</h2>
      <form>
        <div class="input-field">
          <input id="image_dowload" type="text" class="validate">
          <label for="image_dowload">Image Name</label>
        </div>
        <button class='btn' type="submit">Download</button>
        <%= typeof downloadedMessage != 'undefined' ? downloadedMessage : '' %>
      </form>
    </section>
    <section>
      <h2>Image Upload</h2>
      <form action="/" method='POST' enctype="multipart/form-data">
        <div class="file-field input-field">
          <div class="btn grey">
            <span>File</span>
            <input name='uploadImage' type="file">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        <button class='btn' type="submit">Upload</button>
        <%= typeof uploadedMessage != 'undefined' ? uploadedMessage : '' %>
      </form>
    </section>

  </main>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>